@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&display=swap');

/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* CSS Styles */
html {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --btn_green: #596D48;
}

body {
    display: flex;
    min-height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    flex-grow: 1;
    height: auto;
    width: clamp(200px, 100%, 300px);
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.logo-box {
    width: 100%;
    height: 15%;
    position: relative;
    top: 20%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    height: 100%;
    margin-right: 10px;
}

.logo-text {
    font-family: "Playwrite AU VIC Guides", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 300%;
}

.credits {
    position: relative;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.credit-text {
    color: white;
}

.form-container {
    flex-grow: 2;
    height: autp;
    background-color: white;
    display: flex;
    flex-direction: column; 
}

.form-text {
    flex-grow: 1;
    font-weight: bold;
    font-size: 16px;
    background-color: lightgrey;
    position: relative;
}

.form-text span {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.form {
    flex-grow: 1;
    max-height: 250px;
}

.row {
    display: flex;
    margin-top: 3%;
    label {
        font-weight: bold;
        font-size: 12px;
    }
}

input:focus {
    outline: blue;
    border-color: skyblue;
    box-shadow: lightgray;
}

#pwd:invalid {
    outline: red;
    border-color: red;
}

.col {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.form-buttons {
    flex-grow: 1;
    background-color: lightgrey;
}

.submitbtn {
    position: relative;
    top: 10%;
    left: 3%;
    background-color: var(--btn_green);
    color: white;
    width: clamp(25%, 30%, 35%);
    height: 20%;
    border-radius: 6px;
    border: none;
}

.btntext {
    position: relative;
    top: 15%;
    left: 3%;
}

.login_text {
    color: var(--btn_green);
}
    